h3 Home

div(ng-repeat='title in titles', mf-movie, title='{{title}}')

div(ng-repeat='zip in zips', mf-weather, zip='{{zip}}')

div(ng-repeat='symbol in symbols', mf-stock, symbol='{{symbol}}')

div(ng-repeat='person in people', mf-greeting, name='{{person.name}}', age='{{person.age}}')

div(mf-clock, frequency='2000')
div(mf-clock, frequency='1000')
div(mf-clock, frequency='500')
div(mf-clock, frequency='250')
div(mf-clock, frequency='10')
