h3 Home

div(mf-locate)

div

input(type='text', ng-model='title')
button.btn.btn-primary(ng-click='addMovie()') &nbsp; &nbsp;Add Movie

div

div(ng-repeat='title in titles', mf-movie, title='{{title}}', remove='delMovie($index)')

div

div(ng-repeat='zip in zips', mf-weather, zip='{{zip}}')

div

div(ng-repeat='symbol in symbols', mf-stock, symbol='{{symbol}}')

div

div(ng-repeat='person in people', mf-greeting, name='{{person.name}}', age='{{person.age}}')

div
div(mf-clock, frequency='2000')
div(mf-clock, frequency='1000')
div(mf-clock, frequency='500')
div(mf-clock, frequency='250')
div(mf-clock, frequency='10')
